.hero {
  min-height: 100vh;
  &__container {
    width: 95%;
    margin: auto;
    color: #fff !important;
  }
  &__text {
    position: absolute;
    top: 30%;
    @include rwd(
      width,
      90%,
      (
        $md: 80%,
        $lg: 70%,
        $xl: 60%,
        $xxl: 50%,
      )
    );
  }
  &__buttons {
    &--play {
      font-size: 1.5rem;
      border-radius: 6px;
      background-color: #fff;
      padding: 12px 30px;
      border: 0;
      @include rwd(
        font-size,
        1.2rem,
        (
          $md: 1.3rem,
          $lg: 1.4rem,
          $xl: 1.4rem,
          $xxl: 1.5rem,
        )
      );
      &:hover {
        background-color: rgba(255, 255, 255, 0.65);
      }
    }
    &--info {
      font-size: 1.5rem;
      border-radius: 6px;
      background-color: rgba(109, 109, 110, 0.7);
      color: white;
      padding: 12px 30px;
      border: 0;
      @include rwd(
        font-size,
        1.2rem,
        (
          $md: 1.3rem,
          $lg: 1.4rem,
          $xl: 1.4rem,
          $xxl: 1.5rem,
        )
      );
      &:hover {
        background-color: rgba(109, 109, 110, 0.568);
      }
    }
  }

  &__nav {
    & a {
      color: #fff !important;
      font-weight: 400;
      &:hover {
        color: rgb(194, 194, 194) !important;
      }
    }
    & input {
      background-color: transparent;
      color: #fff !important;
      border: 0px solid #fff;
      width: 0px;
      padding: 10px 15px !important;
      transition: ease-in-out 0.5s;
      border-radius: 0;
      &:focus {
        background-color: $netflix-black-bg;
        border: 1px solid #fff;
        width: 250px;
        padding: 10px 30px !important;
      }
      &:focus ~ .close-icon {
        display: block;
      }
    }
    & .search-icon {
      color: #fff !important;
      position: absolute;
      left: 5px;
      pointer-events: none;
      stroke-width: 2.25;
    }
    & .close-icon {
      color: #fff !important;
      position: absolute;
      right: 15px;
      pointer-events: none;
      stroke-width: 2.25;
      display: none;
    }
    & .dropdown-menu {
      background-color: $netflix-black-bg;
      width: 200px !important;
      border-radius: 0;
      border: 0.5px solid rgb(53, 53, 53);
    }
  }
}
.homepage {
  background-color: $netflix-home-black;
  color: #fff;
}
div.btn.dropdown-toggle:hover .dropdown-menu {
  display: block !important;
}
.navbar-nav .dropdown div.btn:hover > .dropdown-menu {
  display: block !important;
}
.signout-list {
  border-top: 1px solid rgb(95, 95, 95);
}

.sliding {
  z-index: 9999 !important;
  margin: auto;
  margin-top: -140px;

  &__header {
    width: 95% !important;
    margin: auto;
    &--text {
      z-index: 9999 !important;
      position: relative;
    }
    &--btn {
      //   width: 100%;
      z-index: 9999;
      position: relative;
      cursor: pointer;
      & i {
        display: none;
        color: #54b9c5;
        font-weight: 800;
        z-index: 9999;
        position: relative;
        // padding-top: 5px;
      }
      &-title {
        opacity: 0;
        margin-left: -90px;
        font-size: 1rem;
        font-weight: 700;
        color: #54b9c5;
        transition: all 0.6s;
      }
      &:hover > .sliding__header--btn-title {
        display: inline-block;
        opacity: 1;
        margin-left: 10px;
      }
    }
    &:hover > &--btn i {
      display: inline-block;
    }
  }
  .sliding__body {
    background-color: transparent;
    margin: auto;
    position: relative;
    &--text {
      z-index: 9999;
    }
    &--arrow-right {
      height: 100%;
      background: linear-gradient(to left, rgba(0, 0, 0, 0.45), transparent);
      position: absolute;
      right: 0;
      top: 0px;
      width: 100px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & i {
        position: static;
        display: none;
      }
      &:hover {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.75), transparent);
      }
      &:hover > i {
        display: block;
      }
    }
    &--arrow-left {
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.45), transparent);
      position: absolute;
      left: 0;
      top: 0px;
      width: 100px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      & i {
        position: static;
        display: none;
      }
      &:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent);
      }
      &:hover > i {
        display: block;
      }
    }
  }
  &__card {
    &--body {
      display: none !important;
    }
  }
}
